
      



  
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
          <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">
              <a [routerLink]="['/']" class=" brand-logo nav-link" href="index.html" style="font-size: 28px">
                ToDo List <!-- <img src="images/logo.svg" alt="logo"> -->
            </a>
           
          </div>
          <div class="navbar-menu-wrapper d-flex align-items-center">
            <ul class="navbar-nav navbar-nav-left header-links d-none d-md-flex">
              <li class="nav-item">
                  <mat-icon class="example-icon " aria-hidden="false" aria-label="Example heart icon">exit_to_app</mat-icon><a [routerLink]="['/login']" >LogIn</a>
     
              </li>
              <li class="nav-item active">
                  <mat-icon class="example-icon " aria-hidden="false" aria-label="Example delete icon">person</mat-icon><a [routerLink]="['/register']" > SignUp </a> 
   
              </li>
             
            </ul>
           
          
          </div>
        </nav>